<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学习 Vue</title>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app" v-bind:title="tip">
    {{message}}
    <p v-if="seen">现在你看到我了</p>
    <ul>
      <li v-for="item in list">{{item.text}}</li>
    </ul>
  </div>
</body>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'hello vue',
      tip: 'vue is very popular',
      seen: true,
      list: [{
        text: 'HTML'
      }, {
        text: 'CSS'
      }, {
        text: 'JavaScript'
      }]
    }
  })
</script>

</html>